.productsheading{
margin:4vmax auto;
text-align:center;
border-bottom:1px solid rgb(194, 193, 193);
width:18%;
padding-bottom:32px;
font-weight:400;
color:rgb(94, 93, 93);
}
.products{
    display:flex;
    flex-wrap:wrap;
  justify-content:center;
  /* justify content align items center ke lie 
  jsutify content is for grid  and align content */
  /* align content in flex chip jate he ikhte sare element*/
  align-items: center;
  min-height:30vh;

}
.paginationBox{
  display:flex;
  justify-content:center;
  margin:6vmax;

 

}
.pagination{
  display:flex;
 padding:0;

}
.page-item{
list-style:none;
background-color:white;
border:1px solid rgba(0, 0, 0, 0.171);
padding:1vmax 1.5vmax;
transition:all 0.3s;
cursor:pointer;
background-color:white;
color:black;
}
.page-item:last-child{
border-radius:0 5px 5px 0;
}

.page-item:first-child{
  border-radius:5px 0px 0px 5px;
  }
.page-link{
text-decoration:none;
font:200 0.7vmax "Roboto";
color:rgb(23, 23, 23);
transition:all 0.3s;

}
.page-item:hover{
  background-color:rgb(230,230,230);
}
.page-item:hover .page-link{
  color:rgb(0, 0, 0);}
  .pageItemActive{
background-color:tomato;}
.pageLinkActive{
color:white;


}

.filterBox{
width:10vmax;
position:absolute;
top:10vmax;
left:4vmax;


}
.categoryBox{
padding:0%;}
.category-link{
list-style:none;
color:rgba(0, 0, 0, 0.604);
font:400 0.8vmax "Roboto";
margin:0.4vmax;
cursor:pointer;
transition:all 0.5s;}
.category-link:hover{
  color:tomato;

}
.filterBox>fieldset{
border: 1px solid rgba(0, 0, 0, 0.473);





}









@media screen and (max-width:600px){

.filterBox{
width:20vmax;
position:static;
margin:auto;


}

.page-link{
font:300 1.7vmax "Roboto";
}
.category-link{
font:400 1.8vmax "Roboto";



}



}



